[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Bad Guys
	owner = group user/Aleksandr Kukoba (alekskukoba)
[access "refs/for/refs/*"]
	read = group user/Aleksandr Kukoba (alekskukoba)
	push = group user/Aleksandr Kukoba (alekskukoba)
	label-Code-Review = -2..+2 group user/Aleksandr Kukoba (alekskukoba)
	label-Verified = -1..+1 group user/Aleksandr Kukoba (alekskukoba)
	rebase = group user/Aleksandr Kukoba (alekskukoba)
	removeReviewer = group user/Aleksandr Kukoba (alekskukoba)
	submit = group user/Aleksandr Kukoba (alekskukoba)
[access "refs/heads/*"]
	read = group user/Aleksandr Kukoba (alekskukoba)
	create = group user/Aleksandr Kukoba (alekskukoba)
	push = +force group user/Aleksandr Kukoba (alekskukoba)
	pushMerge = group user/Aleksandr Kukoba (alekskukoba)
[access "refs/tags/*"]
	push = group user/Aleksandr Kukoba (alekskukoba)
	push = +force group user/Aleksandr Kukoba (alekskukoba)
